
# ========================
# GENERAL
# ========================
NODE_ENV=development

# ========================
# ORDERS SERVICE
# ========================
ORDERS_PORT=3000

DB_HOST=orders_postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=orders_postgres

# ========================
# AUDIT SERVICE
# ========================
AUDIT_PORT=3001

MONGO_URI=mongodb://mongo_admin:your_password@localhost:27017/audit?authSource=admin
MONGO_ADMIN=mongo_admin
PASSWORD=tu_password_seguro
# ========================
# MICROSERVICES (TCP)
# ========================
AUDIT_MS_HOST=localhost
AUDIT_MS_PORT=4001

# ========================
# SECURITY
# ========================
JWT_SECRET=your_super_secret_key_min_32_chars
JWT_EXPIRES_IN=10d